<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">

            <!-- Search form -->
            <form method="POST" action="/patients/search">
                <div class="input-group mb-4 border rounded-pill p-1">
                    <input type="search" id="search" name="search_term" placeholder="Enter patient name"
                        aria-describedby="button-addon3" class="form-control bg-none border-0">
                    <div class="input-group-append border-0">
                        <button id="button-addon3" type="submit" name="submit" class="btn btn-link text-success"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>


        </div>
        <!--end of col-->

    </div>
</div>