<div id="mySidenav" class="sidenav">


  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <nav class="navbar navbar-light bg-light">
    <h2><a href="/patients">Liaison Officer</a></h2>
  </nav>

  <a href="/about">About</a>
  <hr>
  <a href="/patients/add"> <i class="fas fa-user-plus"></i> Patients</a>
  <hr>
  <a href="/categories"> <i class="fa fa-list-alt" aria-hidden="true"></i> Categories</a>
  <hr>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i> logout</a>
  <hr>
  {{> _footer }}
</div>