<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>LO APP</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/1ff5057583.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/api/patients">Liaison</a>
        <div class="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/patients/pt/add"><i class="fas fa-user-plus fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    {{#if patient }}


    <main role="main" class="container">
        {{{ body }}}
    </main>

    {{else}}

    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10">

                <!-- Search form -->
                <form method="GET" action="/search">
                    <div class="input-group mb-4 border rounded-pill p-1">
                        <input type="search" name="search" placeholder="Enter patient name"
                            aria-describedby="button-addon3" class="form-control bg-none border-0">
                        <div class="input-group-append border-0">
                            <button id="button-addon3" type="submit" name="submit" class="btn btn-link text-success"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>


            </div>
            <!--end of col-->

        </div>
    </div>


    <main role="main" class="container">
        {{{ body }}}
    </main>

    {{/if}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>