<section class="container pt-xl-5 pl-xl-4">
    <br>

  <h1>Liaison Officer Application (LO)</h1>

  <p>This application is designed and developed excusively for the liaison office to read, add, update patients informations through online with database.</p>

  <blockquote>
      <p><strong>source code:</strong> <a href="https://github.com/renmission/Liaison-officer-app">Liaison officer application</a></p>
  </blockquote>

</section>