<section class="container pt-xl-5 pl-xl-4">
    <br>
    <form action="/api/patients/add" method="POST">
        <div class="form-group">
            <input type="text" name="name" placeholder="Enter Name" value="">
        </div>
        <div class="form-group">
            <textarea name="details" cols="30" rows="20" class="form-control">
            </textarea>
        </div>
        <input type="button" class="btn btn-primary" value="Update" name="submit">
    </form>
</section>