<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">



            <form class="login100-form validate-form" method="POST" action="/register">
                <span>
                    {{> _errors }}
                    {{> _msg }}
                </span>
                <span class="login100-form-title p-b-43">
                    Register now
                </span>



                <div class="wrap-input100">
                    <input class="input100" type="text" name="name" value="{{name}}">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Name</span>
                </div>


                <div class="wrap-input100">
                    <input class="input100" type="email" name="email" value="{{email}}">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>


                <div class="wrap-input100">
                    <input class="input100" type="password" name="password" value="{{email}}">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="wrap-input100">
                    <input class="input100" type="password" name="password2" value="{{password2}}">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Confirm Password</span>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign Up
                    </button>
                </div>

                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        Already have an account, <a href="/">Login</a>
                    </span>
                </div>

                {{!-- <div class="login100-form-social flex-c-m">
                    <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                        <i class="fa fa-facebook-f" aria-hidden="true"></i>
                    </a>

                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div> --}}
            </form>

            <div class="login100-more" style="background-image: url('images/lo.webp');">
            </div>
        </div>
    </div>
</div>