<section class="container pt-xl-5 pl-xl-4">
    <form action="/hospitals/{{hospital.id}}?_method=PUT" method="POST">
        <div class="form-group">
            <label for="">Category Name:</label>
            <input type="text" name="name" class="form-control" value="{{hospital.name}}"
                placeholder="Enter category name" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Category</button>
    </form>
</section>